<div class="container">
  <div class="row">
    <h2>Search Movies</h2>

    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        formControlName="movieTitle"
        class="todo-input"
        placeholder="Enter Movie Name"
      />
      <button type="submit">Search</button>
    </form>
  </div>
</div>

<div class="todo-item" *ngFor="let movie of moviesList">
  <div class="todo-item-left">
    <div class="todo-item-label">
      <button (click)="selectMovie(movie._id)">
        <h4>
          {{ movie.movieTitle }}
        </h4>
        <p>{{ movie.movieDescription }}</p>
      </button>
    </div>
  </div>
</div>
<div class="todo-item" *ngIf="noMovieFound">
  <h1>No Movie Found!!</h1>
</div>
