.movie-input {
    width: 100%;
    padding: 10px 18px;
    font-size: 18px;
    margin-bottom: 16px;

  }
  
  .movie-item {
    margin-bottom: 12px;
    display: inline-table;
    align-items: center;
    border: 5px solid greenyellow;
    border-radius: 29px;
    justify-content: space-between;
    animation-duration: 0.3s;
  }
  
  .movie-item-left { 
    display: flex;
    align-items: center;
  }
  
  .movie-item-label {
    padding: 10px;
    border: 1px solid white;
    margin-left: 137px;
  }
  
  .movie-item-edit {
    font-size: 24px;
    color: #2c3e50;
    margin-left: 12px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  }