<div class="container">
  <h4
    *ngIf="movie"
    class="mb-4"
    style="border: 2px solid red; padding: 2px 10px"
  >
    Selected Movie:{{ movie.movieTitle }}
  </h4>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4">
        <label>Name</label>
        <input
          type="text"
          formControlName="name"
          class="todo-input"
          placeholder="Enter Username"
        />
        <ng-container *ngIf="submitted && f.name.errors">
          <p class="error-message">Name is required</p>
        </ng-container>
      </div>
      <div class="col-md-4">
        <label>Phone</label>
        <input
          type="text"
          formControlName="contact"
          class="todo-input"
          placeholder="Enter Number"
        />
        <ng-container *ngIf="submitted && f.contact.errors">
          <p class="error-message" *ngIf="f.contact.errors.required">
            Phone is required
          </p>
        </ng-container>
      </div>
      <div class="col-md-4">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="todo-input"
          placeholder="Enter Email"
        />
        <ng-container *ngIf="submitted && f.email.errors">
          <p class="error-message" *ngIf="f.email.errors.required">
            Email is required
          </p>
          <p class="error-message" *ngIf="f.email.errors.email">
            Email is invalid
          </p>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="ml-3">
        <label>Cinema</label>
        <select
          class="form-control"
          formControlName="cinema"
          class="todo-input"
          style="width: 100%"
          (change)="OnCinemaSelect($event)"
        >
          <option value="value" selected>Select cinema</option>
          <option *ngFor="let cin of cinemaList" value="{{ cin._id }}">
            {{ cin.cinemaTitle }}
          </option>
        </select>
        <ng-container *ngIf="submitted && f.cinema.errors">
          <p class="error-message">Cinema is required</p>
        </ng-container>
        <label>Screens</label>
        <select
          class="form-control"
          formControlName="showId"
          class="todo-input"
          style="width: 100%"
        >
          <option *ngFor="let scr of screens" value="{{ scr._id }}">
            <p>
              Time: {{ scr.startAt }}-{{ scr.endAt }} Screen -
              {{ scr.screenTitle }}
            </p>
          </option>
        </select>
        <ng-container *ngIf="submitted && f.screen.errors">
          <p class="error-message">Sceens is required</p>
        </ng-container>
        <button class="btn btn-primary" type="submit">Book</button>
      </div>
    </div>
  </form>
</div>
